# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/

# DeepFace weights (baixados automaticamente)
~/.deepface/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
